:root {
    background-color: #6A7565;
}

html, body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.logo-area {
    background-image: url('images/shot-by-cerqueiraGRA.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-back {
    width: 100%;
    align-self: flex-end;
    background-color: #0e0e0e3c;
}
.logo-area span {
    align-self: flex-end;
    margin: 10px;
    font-size: 1vw;
    color: #F9FAFB;
}

.logo-area span a {
    color: #F9FAFB;
}

.logo-back img {
    margin-top: 20px;
    width: 100%;
}

/*--------------------------*/

.sign-up-area {
    background-color: #F9FAFB;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 3vw;
    padding-right: 10vw;
}

.presention {
    margin: 50px 0px 50px 0px;
}

.presention p {
    margin-bottom: 20px;
}

.form-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 50px;
    gap: 20px;
    width: 100%;
}

.form-content input {
    border: 1px #6A7565 solid;
    border-radius: 5px;

}

.form-title {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input {
    display: flex;
    flex-flow: column wrap;
}

/*------------------*/

.btn-sign {
    margin-bottom: 10px;
}

.btn-sign button {
    padding: 6px;
    font-size: 1.2rem;
    border: transparent;
    border-radius: 5px;
    background-color: #6A7565;
    color: #F9FAFB;
}

.btn-sign button:hover {
    background-color: #6a7565bc;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: black;
}

.login a:hover {
    text-decoration: underline;
}

@media screen and (max-width:502px) {
    .logo-area {
        background-image: url('images/shot-by-cerqueiraPEQ.jpg');
        width: 40vw;
    }

    .sign-up-area {
        width: 50vw;
    }
}