:root {
    background-color: #6A7565;
}

@font-face {
    font-family: 'norse-bold';
    src: url('font/Norse-Bold.otf');
}

html {
    height: 100% !important;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'norse-bold';
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.logo-area {
    background-image: url('images/shot-by-cerqueiraGRA.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-back {
    width: 100%;
    align-self: flex-end;
    background-color: #0e0e0e3c;
}
.logo-area span {
    align-self: flex-end;
    margin: 10px;
    font-size: 1vw;
    color: #F9FAFB;
}

.logo-area span a {
    color: #F9FAFB;
}

.logo-back img {
    margin-top: 20px;
    width: 100%;
}

/*--------------------------*/

.sign-up-area {
    background-color: #F9FAFB;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 3vw;
    padding-right: 10vw;
}

.presention {
    margin: 100px 0px 70px 0px;
}

.presention p {
    margin-bottom: 20px;
}

.form-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 50px;
    gap: 20px;
    width: 60%;
}

.form-title {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input {
    display: flex;
    flex-flow: column wrap;
}

@media screen and (max-width:502px) {
    .logo-area {
        background-image: url('images/shot-by-cerqueiraPEQ.jpg');
        width: 40vw;
    }

    .sign-up-area {
        width: 50vw;
    }
}